.contactForm {
  text-align: center;
  background: #fff;
  height: auto;
  background-color: #c0c0c0;
  width:auto;
  height:1200px;

}

form {
  width: auto;
  height: 800px;
  font-size: 30px;
}

 {
  size: 40px;
}

h1 {
  text-align: center;
  
}
